<h2 class="text-4xl font-bold px-6 pt-12">Клиенты</h2>
<ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4 p-4">
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">ГК ВСК</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Геосуппорт</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Группа Партнер</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Спецпромсервис</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">R Group Holding</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">ГК Лукойл</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">КЗХ</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">М-Сталь</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Трансресурс</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">ЭПУ Сервис</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Refactor Group</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Технокерамика</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Казогнеупор</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">STS</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">ГК Техностиль</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">Temac Group</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">ГК Выбор</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
    <li class="p-4">
        <div class="text-left">
            <div class="font-semibold text-gray-800">ГК ПТИ</div>
            <div class="text-sm text-gray-500 mt-1">промышленность</div>
        </div>
    </li>
   
</ul>