<div class="bg-sky-950 p-4">
  <!-- -->
  <div class="max-w-[1180px]">
<div class="bg-white rounded-xl p-6 mb-3">
  <div class="flex justify-between items-start">
    <!-- Left Content -->
    <div class="w-2/3">
      <h1 class="
      sm:text-4xl
      md:text-[100px]/30 
      font-bold 
      text-gray-800 
      mb-8">
        Агентство контекстной рекламы
      </h1>
    </div>
    
    <!-- Right Content -->
    <div class="w-1/3 flex items-center space-x-4 hidden sm:block">
      <!-- Coins Illustration -->
      
      <!-- Stats Card -->
      <div class="bg-gradient-to-br from-sky-200 to-blue-50 rounded-xl p-4 w-full">
        <div class="bg-sky-800 text-white rounded-lg p-3 mb-3">
          <div class="flex items-center text-xs mb-1">
            Сэкономили деньги рекламадателям от скликивания
          </div>
          <div class="text-2xl font-bold">≈ 18 938 000₽</div>
        </div>
        <div class="text-xs text-gray-600 mt-2">
          <div>Cредний CPL — 2 200 ₽</div>
          <div>Cредний CPO — 4 600 ₽</div>
        </div>
         <p class="text-sm text-gray-800 pt-12 mb-4">Первым клиентам скидка 50%</p>
      <button class="bg-gray-800 text-white px-4 py-2 rounded-md hover:bg-gray-700 transition-colors">
        Консультация
      </button>
      </div>
    </div>
  </div>
</div>

<!-- Three Feature Blocks -->
<div class="grid md:grid-cols-3 sm:grid-cols-1 gap-3">
  <!-- Block 1 -->
  <div class="bg-white rounded-xl p-5 ">
    <h3 class="font-bold text-gray-800 mb-3">Управляйте бюджетами клиентов в одном окне</h3>
    <p class="text-sm text-gray-600">Пополняйте рекламный кабинет в пару кликов и давайте сотрудникам разные уровни доступов</p>
  </div>
  
  <!-- Block 2 -->
  <div class="bg-white rounded-xl p-5 ">
    <h3 class="font-bold text-gray-800 mb-3">Получайте постоплату для клиентов, которые не работают по предоплате</h3>
    <p class="text-sm text-gray-600">Отсрочка до 30 дней без процентов и комиссий</p>
  </div>
  
  <!-- Block 3 -->
  <div class="bg-white rounded-xl p-5 ">
    <h3 class="font-bold text-gray-800 mb-3">Маркируйте рекламу клиентов во всех рекламных системах</h3>
    <p class="text-sm text-gray-600">Автоматически получаем токены, размещаем рекламу и отправляем отчеты в ЕРИР</p>
  </div>
</div>
</div>
<!-- -->
</div>

