<div class="container mx-auto px-4">
        <h1 class="text-3xl font-bold text-center mb-2">Тарифы Яндекс.Директ</h1>
        <p class="text-center text-gray-600 mb-8">Выберите подходящий тариф для вашего бизнеса</p>
        
        <div class="overflow-x-auto">
            <table class="w-full rounded-xl shadow-sm border border-gray-200 ">
                <thead>
                    <tr class="border-b border-gray-200 bg-sky-950 text-white">
                        <th class="p-6 text-left">
                            <h3 class="text-xl font-bold">Услуги</h3>
                        </th>
                        <th class="p-6 text-center">
                            <h3 class="text-xl font-bold">Разовая настройка</h3>
                            <p class="text-sm text-gray-100 mt-1">Срок настройки: 5–7 рабочих дней</p>
                            <p class="text-gray-100 text-sm mt-2">Этот тариф – разовый запуск, не включает постоянное ведение. Для тех, кто хочет запустить рекламу быстро и без долгосрочных обязательств.</p>
                        </th>
                        <th class="p-6 text-center">
                            <h3 class="text-xl font-bold ">СТАНДАРТ</h3>
                            <p class="text-sm text-gray-100 mt-1">Примерный бюджет 30 000 – 100 000 руб./мес</p>
                            <p class="text-gray-100 text-sm mt-2">Невысокая конкуренция. Ограниченный список услуг/товаров. Цель — видимость в рамках бюджета, занять часть рынка.</p>
                        </th>
                        <th class="p-6 text-center">
                            <h3 class="text-xl font-bold ">БИЗНЕС</h3>
                            <p class="text-sm text-gray-100 mt-1">Примерный бюджет от 300 000 руб./мес</p>
                            <p class="text-gray-100 text-sm mt-2">Крупные бизнесы, высокая конкуренция. Большой спектр услуг, товаров, направлений. Цель — лидирующие позиции, максимум трафика.</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Клиент предоставляет доступ в свой Яндекс.Директ</td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Анализ предыдущей рекламы, точки роста</td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Анализ конкурентов</td>
                        <td class="p-4 text-center"><span class="text-red-600">нет</span></td>
                        <td class="p-4 text-center"><span class="text-red-600">нет</span></td>
                        <td class="p-4 text-center"><span class="text-green-700">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100 bg-orange-100">
                        <td class="p-4 font-medium">Семантика</td>
                        <td class="p-4 text-center">до 200 фраз</td>
                        <td class="p-4 text-center">до 200 фраз</td>
                        <td class="p-4 text-center">500+ фраз</td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Объявления</td>
                        <td class="p-4 text-center">до 30 шт.</td>
                        <td class="p-4 text-center">до 50 шт.</td>
                        <td class="p-4 text-center">100+ шт.</td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Кампании</td>
                        <td class="p-4 text-center">2 кампании (Поиск + РСЯ)</td>
                        <td class="p-4 text-center">до 4-х кампаний (Поиск + РСЯ)</td>
                        <td class="p-4 text-center">5+ кампаний (Поиск + РСЯ)</td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Базовая структура групп по тематикам</td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Баннерная реклама</td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Товарная галерея (фид)</td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Ретаргетинг</td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Стратегии</td>
                        <td class="p-4 text-center">Базовая настройка автоматических стратегий</td>
                        <td class="p-4 text-center">Индивидуальные стратегии по KPI + корректировки</td>
                        <td class="p-4 text-center">Индивидуальные стратегии по KPI + корректировки</td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Подключение Метрики</td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Коллтрекинг / CRM</td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Корректировки</td>
                        <td class="p-4 text-center">1 бесплатная корректировка</td>
                        <td class="p-4 text-center">1-2 раза в неделю</td>
                        <td class="p-4 text-center">Ежедневный мониторинг + срочные правки</td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Отчетность</td>
                        <td class="p-4 text-center">Нет ежемесячных отчетов</td>
                        <td class="p-4 text-center">Отчет по общей статистике и аналитике</td>
                        <td class="p-4 text-center">VIP-отчетность. Рекомендации по сайту. Итоговый аналитический отчет</td>
                    </tr>
                    <tr class="border-b border-gray-100">
                        <td class="p-4 font-medium">Создание ЛК с доступом к просмотру статистики</td>
                        <td class="p-4 text-center"><span class="icon-plus">нет</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                        <td class="p-4 text-center"><span class="icon-check">да</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td class="p-6 font-bold text-lg">Стоимость</td>
                        <td class="p-6 text-center">
                            <div class="text-2xl font-bold text-gray-800">от 25 000 руб.</div>
                            <div class="text-sm text-gray-600">Цена зависит от объема и сложности</div>
                            <button class="w-full bg-red-600 text-white py-3 px-4 rounded-lg hover:bg-red-700 transition-colors font-medium mt-4">
                                Заказать
                            </button>
                        </td>
                        <td class="p-6 text-center">
                            <div class="text-2xl font-bold text-gray-800">20 000 руб.</div>
                            <div class="text-sm text-gray-600">Цена ведения и настройки за месяц</div>
                            <button class="w-full bg-red-600 text-white py-3 px-4 rounded-lg hover:bg-red-700 transition-colors font-medium mt-4">
                                Заказать
                            </button>
                        </td>
                        <td class="p-6 text-center">
                            <div class="text-2xl font-bold text-gray-800">от 35 000 руб.</div>
                            <div class="text-sm text-gray-600">Цена ведения и настройки за месяц</div>
                            <button class="w-full bg-red-600 text-white py-3 px-4 rounded-lg hover:bg-red-700 transition-colors font-medium mt-4">
                                Заказать
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>